$core-text:						#000;
$core-accent:					#1694CA;
$secondary-link:			#F8B450;
$white:							  #fff;
$black:							  #000;
$light-gray:					#ddd;

$mcu-bar-bg:          #222;
$mcu-bar-fg:          rgb(143, 143, 143);
$mcu-bar-shadow:      rgba(0, 0, 0, 0.2);
$mcu-online:          greenyellow;
$mcu-offline:         red;
