*, html, body {
  padding: 0;
  margin: 0; }

/** --------------------------------------------------------------------- **/
/** MCU status bar                                                        **/
/** --------------------------------------------------------------------- **/
#statusbar {
  /* flex: 0 0 auto; */
  background-color: #222;
  bottom: 0;
  box-shadow: 0 -1px 0px rgba(0, 0, 0, 0.2);
  color: #8f8f8f;
  font: 11px Arial, sans-serif;
  left: 0;
  margin: 0;
  padding: 4px 36px 4px 12;
  position: fixed;
  right: 0;
  text-align: left;
  text-transform: none;
  z-index: 99999;
  -webkit-font-smoothing: subpixel-antialiased; }

#statusbar div {
  display: inline;
  margin: 0 12px 0 12px; }

.mcu-status {
  /* font-size: 1.5em; */ }

.available {
  color: greenyellow; }

.unavailable {
  color: red; }
